<mat-tab-group>
  <mat-tab label="Users">

    <table>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Id</th>
        <th>Role</th>
      </tr>
      <tr  *ngFor="let user of users | async">
        <td>{{user.email}}</td>
        <td>{{user.name}}</td>
        <td>{{user.id}}</td>
        <td>{{user.role}}</td>
      </tr>
    </table>
  </mat-tab>

  <mat-tab label="DataSources">

    <table>
      <tr>
        <th>Id</th>
        <th>DomainIdKey</th>
        <th>Title</th>
        <th>Name</th>
        <th>Author</th>
        <th>AuthorEmail</th>
        <th>Url</th>
      </tr>

      <tr *ngFor="let datasource of datasources | async">
        <td>{{datasource.id}}</td>
        <td>{{datasource.domainIdKey}}</td>
        <td>{{datasource.metaData.title}}</td>
        <td>{{datasource.metaData.name}}</td>
        <td>{{datasource.metaData.author}}</td>
        <td>{{datasource.metaData.authorEmail}}</td>
        <td>{{datasource.metaData.url}}</td>
      </tr>
    </table>

  </mat-tab>
  <mat-tab label="ProcessorSpecifications">
    <table>
      <tr *ngFor="let spec of processorSpecifications | async">
        <td>{{spec.name}}</td>
      </tr>
    </table>
  </mat-tab>

</mat-tab-group>

<div>
  <p>ODS version {{(version | async)?.version}} </p>
</div>
