<mat-tab-group>
  <mat-tab label="Users">

    <table>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Id</th>
        <th>Role</th>
      </tr>
      <tr  *ngFor="let user of users | async">
        <td>{{user.email}}</td>
        <td>{{user.name}}</td>
        <td>{{user.id}}</td>
        <td>{{user.role}}</td>
      </tr>
    </table>
  </mat-tab>

  <mat-tab label="Second">
    <button mat-button (click)="getMyself()">click</button>
    <div>{{(myself | async)?.name}}</div>
  </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>

</mat-tab-group>
