<mat-sidenav-container>
  <mat-sidenav
    #drawer
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" routerLinkActive="active">Dashboard</a>
      <a mat-list-item routerLink="odsConfig" routerLinkActive="active">ODS-Configuration</a>
      <a mat-list-item routerLink="overview" routerLinkActive="active">Overview</a>
      <a mat-list-item routerLink="settings" routerLinkActive="active">Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ods-webclient</span>
    </mat-toolbar>
    <!-- Content loaded by Router Module-->
    <div id="main_content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



