<div style="position: relative; height: 80%;">
  <mat-sidenav-container class="app-sidenav" color="primary">
    <mat-sidenav class="app-sidenav" mode="side" opened>
      <div>
        <button class="app-button" mat-raised-button color="primary">Data Source</button>
      </div>
      <div>
        <button class="app-button" mat-raised-button color="primary">Filter</button>
      </div>
      <div>
        <button class="app-button" mat-raised-button color="primary">Views</button>
      </div>
      <div>
        <button class="app-button" mat-raised-button color="primary">Settings</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="app-sidenav-content">
      <div style="position: relative;">Content</div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

