<div>
  <button mat-button [routerLink]="['newDataSource']">
    + DataSource
  </button>
</div>
<div>
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Name</th>
    </tr>

    <tr *ngFor="let datasource of datasources | async">
      <td>{{datasource.id}}</td>
      <td>{{datasource.metaData.title}}</td>
      <td>{{datasource.metaData.name}}</td>
      <td>
        <button mat-button [routerLink]="['/odsConfig/datasources', datasource.id, 'details']">
          Details
        </button>
      </td>
      <td>
        <button mat-button (click)="deleteDatasource(datasource.id)">
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
