<mat-card>
  <mat-card-header>
    <mat-card-title>
      Welcome to ODS webclient
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>This is the ODS webclient. It is used to configure the Open Data Service currently over the API V1.</p>
    <p>For further details look into:</p>
    <p>Open Data Service</p>
    <p><a href="https://github.com/jvalue/open-data-service">https://github.com/jvalue/open-data-service</a></p>
    <p>ODS-webclient</p>
    <p><a href="https://github.com/jvalue/ods-webclient">https://github.com/jvalue/ods-webclient</a></p>
  </mat-card-content>
</mat-card>
