<form [formGroup]="processorChainForm" (ngSubmit)="save(processorChainForm)">

  <div>
    <mat-form-field>
      <input matInput placeholder="ProcessorChain Name" formControlName="id">
    </mat-form-field>
  </div>

  <div formArrayName="processors">

    <div *ngFor="let processor of processorsArray.controls; let i=index">

      <div>
        <span>Processor {{i + 1}}</span>
        <span *ngIf="processorsArray.controls.length > 1"
              (click)="removeProcessor(i)">
      </span>
      </div>

      <div [formGroupName]="i">
        <div>
          <input type="text" formControlName="name" placeholder="processor name">
          <small [hidden]="processorsArray.controls[i].controls.name.valid">
            Name is required
          </small>
        </div>
        <div formGroupName="arguments">
          <input #name placeholder="argument key">
          <input #value placeholder="argument object">
          <div>
            <button mat-button
                    (click)="addArgs(processorsArray.controls[i].controls.arguments, name.value, value.value)">
              Add Argument
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <button mat-button (click)="addProcessor()">
      Add another processor +
    </button>
  </div>

  <div>
    <button type="submit" [disabled]="!processorChainForm.valid">Submit</button>
  </div>

</form>




